.footer{
    @include padding-4-sides($vertical-space-full-height-container,$horizontal-space-full-width);
    display: flex;
    flex-direction: row;
    

    &__h4{
        margin-left: auto;
    }
}

